<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Events</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card color="secondary">
    <ion-card-header>
      <ion-card-title>Friend's Birhday</ion-card-title>
       <ion-card-subtitle>ahhhh</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
ahhh its my friends birthday, Sike. im typing this up at 4am help
    </ion-card-content>
    <ion-item>
       <ion-icon name="alarm" slot="start"></ion-icon>
       <ion-label>Reminder</ion-label>
    </ion-item>
 </ion-card>

 <ion-card color="secondary">
  <ion-card-header>
    <ion-card-title>Drake's Concert</ion-card-title>
     <ion-card-subtitle>LETS OOO</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
I wish I could actually attend
  </ion-card-content>
  <ion-item>
     <ion-icon name="alarm" slot="start"></ion-icon>
     <ion-label>Ah</ion-label>
  </ion-item>
</ion-card>

  
</ion-content>
